---
layout: base.njk
---

<div id="container">
	<h1>{{ title }}</h1>
	<p>
		{{ content | safe }}
	</p>

	<a href="https://www.buymeacoffee.com/9dqc69qgmyE" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-blue.png"
			alt="Buy Me A Coffee" style="height: 55px !important; width: 210px !important;" ></a>
</div>

{% set repoBase = "https://github.com/dcamenisch/ethz-summaries/blob/main/" %}

{% macro sourceLink(path) %}
	{% if path %}<a href="{{ repoBase }}{{ path }}">[source]</a>{% endif %}
{% endmacro %}

{% macro renderDocs(docs) %}
<ul>
{% for doc in docs %}
	<li>
		<h2>{{ doc.course }}</h2>
		{% if doc.type == "both" %}
			<a href="../uploads/{{ doc.summaryFile }}"> Summary </a>{{ sourceLink(doc.summarySource) }} |
			<a href="../uploads/{{ doc.cheatsheetFile }}"> Cheatsheet </a>{{ sourceLink(doc.cheatsheetSource) }}
		{% else %}
			{% if doc.file %}<a href="../uploads/{{ doc.file }}"> {{ doc.type | capitalize }} </a>{{ sourceLink(doc.source) }}{% endif %}
		{% endif %}
		{% if doc.extraLink %}
			{% if doc.file %} | {% endif %}<a href="{{ doc.extraLink.url }}"> {{ doc.extraLink.label }} </a>
		{% endif %}
	</li>
{% endfor %}
</ul>
{% endmacro %}

{% set sem1 = documents | bySemester(1) %}
{% if sem1.length %}<h2>1. Semester</h2>{{ renderDocs(sem1) }}{% endif %}

{% set sem2 = documents | bySemester(2) %}
{% if sem2.length %}<h2>2. Semester</h2>{{ renderDocs(sem2) }}{% endif %}

{% set sem3 = documents | bySemester(3) %}
{% if sem3.length %}<h2>3. Semester</h2>{{ renderDocs(sem3) }}{% endif %}

{% set sem4 = documents | bySemester(4) %}
{% if sem4.length %}<h2>4. Semester</h2>{{ renderDocs(sem4) }}{% endif %}

{% set sem5 = documents | bySemester(5) %}
{% if sem5.length %}<h2>5. Semester</h2>{{ renderDocs(sem5) }}{% endif %}

{% set sem6 = documents | bySemester(6) %}
{% if sem6.length %}<h2>6. Semester</h2>{{ renderDocs(sem6) }}{% endif %}

{% set sem0 = documents | bySemester(0) %}
{% if sem0.length %}<h2>Other</h2>{{ renderDocs(sem0) }}{% endif %}
