---
layout: base.njk
---

<div id="container">
	<h1>{{ title }}</h1>
	<p>
		{{ content | safe }}
	</p>

	<a href="https://www.buymeacoffee.com/9dqc69qgmyE" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-blue.png"
			alt="Buy Me A Coffee" style="height: 55px !important; width: 210px !important;" ></a>
</div>

{% macro renderDocs(docs) %}
<ul>
{% for doc in docs %}
	<li>
		<h2>{{ doc.course }}</h2>
		{% if doc.type == "both" %}
			<a href="../uploads/{{ doc.summaryFile }}"> Summary </a> |
				<a href="../uploads/{{ doc.cheatsheetFile }}"> Cheatsheet </a>
		{% else %}
			<a href="../uploads/{{ doc.file }}"> {{ doc.type | capitalize }} </a>
		{% endif %}
		{% if doc.extraLink %}
			| <a href="{{ doc.extraLink.url }}"> {{ doc.extraLink.label }} </a>
		{% endif %}
	</li>
{% endfor %}
</ul>
{% endmacro %}

{% set sem1 = documents | selectattr("semester", "equalto", 1) | list %}
{% if sem1.length %}<h2>1. Semester</h2>{{ renderDocs(sem1) }}{% endif %}

{% set sem2 = documents | selectattr("semester", "equalto", 2) | list %}
{% if sem2.length %}<h2>2. Semester</h2>{{ renderDocs(sem2) }}{% endif %}

{% set sem3 = documents | selectattr("semester", "equalto", 3) | list %}
{% if sem3.length %}<h2>3. Semester</h2>{{ renderDocs(sem3) }}{% endif %}

{% set sem4 = documents | selectattr("semester", "equalto", 4) | list %}
{% if sem4.length %}<h2>4. Semester</h2>{{ renderDocs(sem4) }}{% endif %}

{% set sem5 = documents | selectattr("semester", "equalto", 5) | list %}
{% if sem5.length %}<h2>5. Semester</h2>{{ renderDocs(sem5) }}{% endif %}

{% set sem6 = documents | selectattr("semester", "equalto", 6) | list %}
{% if sem6.length %}<h2>6. Semester</h2>{{ renderDocs(sem6) }}{% endif %}

{% set sem0 = documents | selectattr("semester", "equalto", 0) | list %}
{% if sem0.length %}<h2>GESS / Ergänzung / Wahl</h2>{{ renderDocs(sem0) }}{% endif %}
